@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Montserrat:wght@600&display=swap');

:root {
  --vertical-space: 2rem;
  --horizontal-space: 3rem;

  --light-color: 35,197,184;
  --body-color: #1F2580;
  --heading-color: #4F20AB;
  --subheading-color: #2263B3;
  --contrast-color: #8420A8;
}

body {
  font-size: 18px;
  line-height: 1.5em;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(var(--light-color), .6);
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
  color: var(--body-color);
}

h1 {
  line-height: 1.2em;
  font-family: cursive;
  color: var(--heading-color);
}

h2, h3 {
  line-height: 1.2em;
  font-family: cursive;
  color: var(--subheading-color);
}

a {
  color: var(--body-color);
  text-decoration-color: var(--contrast-color);
}

a:hover {
  color:var(--contrast-color);
}

body#about img {
  height: 15em;
  margin: auto;
  display: block;
  box-shadow: -3px 5px 7px 0px rgba(0,0,0,0.74);
  border: 2px solid var(--subheading-color);
}

body {
  display: grid;
  grid-template-areas: "head head"
                       "nav  nav "
                       "main main"
                       "foot foot";
  grid-template-columns: auto 4fr;
  grid-template-rows: auto auto 1fr auto;
}

@media screen and (min-width: 25em) {
  body {
    grid-template-areas: "head head"
                         "nav  main"
                         "foot foot";
    grid-template-rows: auto 1fr auto;
  }

  body#about img {
    height: 15em;
    display: inline;
    float: left;
    margin-right: var(--horizontal-space);
    margin-bottom: var(--vertical-space);
  }
}

body > * {
  padding-left: var(--horizontal-space);
  padding-right: var(--horizontal-space);
}

body > header {
  grid-area: head;
}

body > nav {
  grid-area: nav;
}

body > nav ul {
  list-style-type: none;
  padding: 0;
}

body > nav ul li {
  display: inline-block;
  padding: 0 7px;
}

body > main {
  grid-area: main;
}

body > footer {
  grid-area: foot;
}

p {
  max-width: 50em;
}

header {
  padding-top: var(--vertical-space);
}

footer {
  padding-bottom: var(--vertical-space);
}

footer a {
  text-decoration: none;
}

header h1, footer h1 {
  margin: 0;
}

body#portfolio ul#portfolioItems {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  list-style-type: none;
  padding: 0;
}

body#portfolio ul#portfolioItems li img {
  max-width: 100%;
}

@media screen and (min-width: 25em) {
  body#portfolio ul#portfolioItems li {
    flex-basis: 48%;
    padding-right: 2%;
  }

  body > nav ul li {
    display: list-item;
  }
}

@media screen and (min-width: 125em) {
  body#portfolio ul#portfolioItems li {
    flex-basis: 25%;
    padding-right: 2%;
  }
  p, #resume dl{
    max-width: 38em;
    line-height: 1.5em;
    font-size: 1.25em;
  }
  #resume ul{
    line-height: 1.5em;
    font-size: 1.5rem;
  }
  #resume h1, #resume h2, #resume h3, #portfolio h2 {
    line-height: 1.5em;
  }
  #resume h2 {
    font-size: 1.75em;
  }
  #resume h3 {
    font-size: 1.4em;
  }
}

.js-scroll-left, .js-scroll-right {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll-left.scrolled, .js-scroll-right.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}